[2017-05-11 21:40] mossuchida opened #2 "Catalog Images not displayed properly"
After deploying BlueCompute on my paid cluster, Catalog images are not properly displayed.  Here is my BlueCompute UI. Please check it out

http://mosscluster.us-south.containers.mybluemix.net/#!/home

[2017-05-11 21:51] mossuchida opened #3 "User Creation failed with invalid_token error"
I am trying to create a user in my BlueCompute deployed in my cluster, but it gives me error: invalid_token

curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer <JWT>" -d '{"username": "foo", "password": "bar", "firstName": "foo", "lastName": "bar", "email": "foo@bar.com"}' -i http://127.0.0.1:8080/micro/customer
HTTP/1.1 401 Unauthorized
Date: Thu, 11 May 2017 21:33:21 GMT

[2017-05-12 16:26] jkwong888 commented on #3
you are missing the token in the header:

curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer "

I am working on adding user creation as a post install hook in the helm chart,so this should be fixed there.

[2017-05-12 16:39] mossuchida commented on #3
Oops, wrong one to paste, here is the issue that I am hitting now:
[root@enos ~]# curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer bGhhbUZSempBbFFTVUo4UTY3Z0ROejd0STNGZkFHb0JMbTFTZHltdThqYmdpS0h2aVdzWm1paUVKd05ITGYzV2lSMkYwcFYzYjBjdDZ5NW1pQ3ByOXRlWWlZRnFSQnZmRnhXRTdLOEdVZFZyb2JiSHlsc0QzUnJ2ZVRtMDVIT0M4R3pkYW1WeTJrVU1uS2ZUM1JlWUhnWk9WNzlLMHJPempLTU1CS1pTYkg4N1RFdklkaDlCc0h

[2017-05-12 16:42] mossuchida commented on #3
Oops, wrong one tho paste:
[root@enos ~]# curl -X POST -H "Content-Type: application/json" -H "Authorizan: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJibHVlIl0sInVzZXJfbmFtZSI6ImFkbWluIn0.zwvPjkJUQ2A5oI5y1340Op5C_GGSnBUojAEWELoQVl4" -d '{"username": "foo", "password": "bar", "firstName": "foo", "lastName": "bar", "email": "foo@bar.com"}' -i http://127.0.0.1:8080/micro/customer
HTTP/

[2017-05-16 17:23] mossuchida opened #5 "Stock number is not updating after placing order"
When I place order, the stock number is not going down.
FYI, URL to check stock number : http://mosscluster.us-south.containers.mybluemix.net/catalog/13405

[2017-05-17 16:03] mossuchida commented on #5
FYI, this is what I run from jmeter
![image](https://cloud.githubusercontent.com/assets/12548207/26163817/c5c212a8-3af8-11e7-9a91-ebb990ebf26a.png)

[2017-05-17 16:03] mossuchida commented on #5
This is what I get
![image](https://cloud.githubusercontent.com/assets/12548207/26163842/d82ebcc0-3af8-11e7-8536-f62f7a45e881.png)

[2017-05-30 21:46] hbcafe opened #8 "install_cli.sh: brew: command not found"
Following the steps from the [readme](https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/master/README.md#step-1-environment-setup); script stops with prerequisite error for [Homebrew](https://brew.sh/) (?).

If this is indeed a requirement, worth calling out in readme.

[2017-05-30 22:38] gangchen03 commented on #8
yeah, missed the step of adding homebrew to the script. Need to add into the install_cli.sh. On it.

[2017-05-30 22:38] gangchen03 commented on #2
The issue has been addressed in recent release.

[2017-05-30 22:38] #2 closed

[2017-05-30 22:49] #3 closed

[2017-05-31 15:06] fabiogomezdiaz commented on #8
@hbcafe : **brew** is no longer required to install **jq** on Mac OS. Going to close this issue for now. Feel free to re-open this issue if you get the same issue. Else, feel free to open a new issue.

[2017-05-31 15:06] #8 closed

[2017-06-01 05:49] RobertJBarron opened #9 "Creating new space"
Hi,

In the step "creating a new space", is the name "cloudnative-dev" mandatory?
From the way it's written it looks like you can't choose your own name.

[2017-06-01 05:53] RobertJBarron opened #10 "Login for IBMers"
When you run bx -login, if you are an IBMer then you need either the API or the SSO method.
Our install_bluemix.sh script doesn't support the SSO method.
Not everyone knows how to get an API key - I think that should be documented too.

[2017-06-01 06:37] RobertJBarron opened #11 "Install script doesn't support Spaces with a " " in the middle as a parameter"
Install script doesn't support Spaces with a " " in the middle as a parameter

[2017-06-02 18:53] gangchen03 commented on #10
For federated users, we need to address the SSO login type by passing the API key

[2017-06-02 19:58] DevOps-GM opened #12 "Login for federated ID requires an API Key for subsequent commands to work."
When you log in to bluemix as a federated user, you need to use the option to specify the API key so that subsequent commands work.  To do this a person needs to log in using the SSO option and then issue the command to get the API key for use in subsequent commands.  This needs to be updated in the readme file.

[2017-06-02 20:00] DevOps-GM opened #13 "Script for accessing the Kubernetes dashboard"
There are many steps that need to be performed in order to access the Kubernetes dashboard.  A script should be provided to make this easy for the end user.

[2017-06-02 20:02] DevOps-GM opened #14 "When you run the delete_bluecompute_ce.sh script, it should take you back to a clean state."
Currently when you run the delete_bluecompute_ce.sh script, several jobs are left in Kubernetes.  These should be deleted when the script runs with the ultimate goal to be left in a state as if you have never installed when you execute the delete script.

[2017-06-02 20:03] DevOps-GM opened #15 "Fix the Bluecompute sample so that the login works correctly the first time."
When you login to the Bluecompute application using the URL that you receive after the install, the login fails the first time.  IT works successfully using the same credentials the second time you try to log in.  This needs fixed.

[2017-06-02 20:14] DevOps-GM opened #16 "In the Readme, pull application validation information on the main project page."
It would be great if the information on validating the application appeared on the main page rather than being a link to a section of another readme file.

[2017-06-02 20:18] DevOps-GM opened #17 "When installing using the script, the install froze on the last step and did not complete."
We should ensure that the install will run through to completion every time it runs.  Not sure what caused the failure, but it required a delete and reinstall to get the application installed successfully.

[2017-06-05 14:25] fabiogomezdiaz commented on #17
@DevOps-GM this should have been taken care of. It took place when installing the web application.  Please reopen if you see the same issue

[2017-06-05 14:25] #17 closed

[2017-06-05 14:29] fabiogomezdiaz commented on #11
@RobertJBarron what are you trying to do? Given some other issues with optional parameters, we are going to make all parameters required to address all login scenarios, including #10 #12 and #15. And we are also going to provide necessary docs to obtain everything that's required.

[2017-06-05 14:44] RobertJBarron commented on #11
I tried to deploy BC to a space called "Service Management"

On Jun 5, 2017 9:29 AM, "Fabio Gomez" <notifications@github.com> wrote:

[2017-06-05 21:39] fabiogomezdiaz commented on #9
@RobertJBarron it's not mandatory, you can choose the name you want

[2017-06-05 21:39] #9 closed

[2017-06-05 21:42] fabiogomezdiaz commented on #10
Fixed by 4f8ed67. Updated the README to make creating an API mandatory to use the scripts
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#create-a-bluemix-api-key.

Please reopen if having same issues

[2017-06-05 21:42] #10 closed

[2017-06-05 21:42] fabiogomezdiaz commented on #12
Fixed by 4f8ed67. Updated the README to make creating an API mandatory to use the scripts
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#create-a-bluemix-api-key.

Please reopen if having same issues

[2017-06-05 21:42] #12 closed

[2017-06-06 14:39] patrocinio opened #18 "install_cli fails"
root@linux:~/refarch-cloudnative-kubernetes# ./install_cli.sh

Installing Bluemix CLI (bx)...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12.5M  100 12.5M    0     0  5010k      0  0:00:02  0:00:02 --:--:-- 5009k
tar (child): Bluemix_CLI.tar.gz: Cannot open: No such file or directo

[2017-06-06 15:41] fabiogomezdiaz commented on #14
Since Kubernetes has a bug, we cannot really delete the container unless it's done manually on the dashboard. So we added random characters to the job names to prevent name coalition.

Basically, you can delete bluecompute and reinstall it without interference from uncleaned artifacts.

Closing for now. Please reopen if getting the same issue. Else, open a new issue.

Fixed by a86ffb2

[2017-06-06 15:41] #14 closed

[2017-06-06 15:49] fabiogomezdiaz commented on #18
Fixed by e32f38f. Closing for now. Please reopen if getting the same issue. Else, open a new issue.

[2017-06-06 15:49] #18 closed

[2017-06-06 19:08] DevOps-GM commented on #14
It is good that you have fixed half of the problem so that you can actually get the uninstall script to run successfully.  However, the readme file must explain to people that  your Kubernetes may still have leftover artifacts and provide instructions on how to remove the things that are left over.

[2017-06-13 09:58] RobertJBarron opened #21 "Need a Windows version of the installation/delete scripts"
Robert is working on this.

[2017-06-19 16:48] xavierloup opened #22 "jq should be added to the list of requirements"
In Readme.md, "jq" should should be added to the list of requirements.
This program is used by install_bluecompute_ce.sh

[2017-06-19 19:14] jkwong888 opened #23 "deploy CE edition to a kubernetes namespace"
allow users to be able to deploy CE stack to different namespaces, in cases where the users share a large cluster

[2017-06-21 19:15] rjminsha opened #24 "Feedback for consideration on Reference Implementation"
Nice reference implementation!

Few thoughts on the current reference implementation
- For the projects (auth etc) there is a combination of Travis and Jenkins being used.  Wonder if the .travis.yaml should/could be used consistently to aid in people cloning.  Also would like to see testing of charts to a tmp namespace in a cluster added to .travis.yaml.
-  Individual Charts could include tests in

[2017-06-22 20:51] patrocinio opened #27 "install_cli.bat expects curl to be installed"

[2017-06-23 13:17] RobertJBarron commented on #27
Hi @patrocinio
It's a bootstrap recursion issue - I need cURL to install all the other tools and I can't depend on it to already exist on the user's computer.

Therefore, it is part of the repository and should be automatically downloaded when you clone the repository. Did this not work for you?
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/kube-int/win_utils

[2017-06-23 17:43] patrocinio commented on #27
@RobertJBarron I was running on PowerShell, and the script didn't pick up the PATH.
We may need to test with PowerShell.

[2017-07-10 14:53] cjthorne opened #28 "install to paid cluster fails if user account has more than one organization"
Some of the deploy jobs fail with messages similar to this:

[code]
For example, the job bind-mysql has the lines:

[code]

The script https://github.com/jkwong888/bluemix-deployer/blob/master/scripts/bx_login.sh does not let you use an organization in the name. That was the only reference I could find to a public github repo that matches the name of the image.

See https://github.com/jkwong888/bl

[2017-07-27 15:35] josiemessa opened #31 "Add step to change password from `passw0rd`"
If this service is being deployed to a public endpoint please recommend that users change the password to something more secure in the instructions before deploying their web application so that they are not hacked (this happens all the time in Bluemix already)

[2017-08-23 01:40] wangzhidong opened #35 "After deploying to bluemix successfully, can't access the app from browser"
![temp](https://user-images.githubusercontent.com/9131685/29595018-6cef9b00-87e7-11e7-8f64-c0117c4f6c02.png)

But when I try to access http://10.127.239.96:30289/ from browser, get the following error:

Network Error (tcp_error)
--
A communication error occurred: "Connection refused"
The Web Server may be down, too busy, or experiencing other problems preventing it from responding to requests. You

[2017-08-28 01:17] vksinghibm opened #37 "Bluecompute WebUI public IP address missing in output of installation"
The output of command
./install_bluecompute_ce.sh vinodtest2cluster cloudnative-dev <bluemixapiakey>
Finally, on another browser window, copy and paste the following URL for BlueCompute Web UI:
http://10.76.92.201:31817

Provides private IP address of worker node

[2017-08-29 03:13] vksinghibm commented on #37
I did the "dirty" fix for my lite cluster with single node:

Old code :#       nodeip=$(kubectl get nodes -o jsonpath='{.items[*].status.addresses[?(@.type=="ExternalIP")].address}' | awk '{print $1}')

 New code:       nodeip=$(bx cs workers ${CLUSTER_NAME} | sed -n '7p'| awk '{print $2}')

[2017-09-19 16:52] fabiogomezdiaz opened #46 "Update Tutorial with New Instructions"
https://cloudcontent.mybluemix.net/devops/method/tutorials/microservices-app-on-kubernetes

[2017-09-29 14:14] ileneruth commented on #46
Hey Fabio, Does this include new instructions for installing dependencies?  The scripts referenced in task #2 (eg. ./install_cli.sh) don't seem to exist in the repo.

[2017-09-29 14:34] jkwong888 commented on #46
I think it will, and it will likely just point at existing documentation on how to install kubectl and helm.  we removed that script because it was extra maintenance burden and not much value added.

[2017-09-29 14:40] fabiogomezdiaz commented on #46
@ileneruth +1 to what @jkwong888 said

[2017-09-29 14:51] ileneruth commented on #46
Makes sense not to maintain that script, but pointers are really needed.  The one I personally wasn't familiar with was jq.

Also, the tutorial is really problematic right now, as you go through task one and then it advises you to verify success by looking for: install_bluecompute_ce.sh which doesn't seem to be there.  Proceed to Task 2 and additional referenced scripts aren't there.  At that poin

[2017-09-29 14:58] jkwong888 commented on #46
hence the task to update the tutorial 😄  .. maintaining different versions of a script for windows, mac, and linux users that could break anytime when the upstream utilities change is a lot more work than updating the tutorial once and for all, just have to find a pocket of time to do it.

BTW i don't think `jq` is needed anymore.  If you read the README.md on the github repo, it contains all of t

[2017-10-28 02:51] pdfruth opened #53 "Provide updated instructions for installing bluecompute-ce on IBM Cloud Private V2.1"
There are instructions in the dev branch of [ibm-cloud-architecture/refarch-cloudnative-kubernetes](https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/dev#deploy-bluecompute-to-ibm-cloud-private-using-the-app-center) describing the steps to install bluecompute-ce into IBM Cloud Private (here https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/de

[2017-10-28 13:49] jkwong888 commented on #53
this is an open issue we logged with the ICP development team on their helm chart api.  in the meantime, you can follow the instructions to go back to installing using the helm cli.  we will update the instructions soon.

[2017-11-06 12:11] mikemoreira opened #55 "helm repo add ibmcase error"
Hi, I tried to add this repo to helm following instructions from https://www.ibm.com/cloud/garage/tutorials/cloudnative-microservices-cloud-private, but the command : helm repo add ibmcase https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/master/docs/charts
Is returning this error :
Error: Looks like "https://github.com/ibm-cloud-architecture/refarch-cloudnative-kuberne

[2017-11-09 11:26] patrocinio opened #56 "Issue getting bluecompute-ce to work on ICP 2.1 GA - could there be an issue with the ibmcase/mysql-loader image?"
Hi Hendrik

I tried yesterday the blue compute too but have another issue.

The containers are deployed but the batch for the data loading doesn't complete correctly. Looking at the events and log it indicated not sble to mount a volume and that he is not able to logon as root with NO password.

I ran this with the team who are creating the blue demos and they seem to have issues too.

Verstuurd v

[2017-11-10 11:35] jxadro opened #58 "Grafana Dashboards do not work on ICP 2.1"
Hi.

I could deploy bluecompute application on ICP 2.1 using the ICP Catalogue UI, it throws an error but I think it was due to some timeout because I'm able to access and use the app without persistance enabled.

The problem is that if I try to import any grafana dashboards in the ICP out of the box Grafana the dashboard is shown empty. I have tried improting the file and copy&paste of the dashbo

[2017-11-10 22:04] patrocinio opened #60 "clonePeers.sh should do a `git pull` in the case the directory already exists"
If a dependent project already exists, the `clonePeers.sh` should update it, doing a git pull.

[2018-01-24 17:11] nmiah2 opened #69 "unable to install bluecompute-ce and complete tutorial"
Im trying to follow task 4 in the following tutorial to deploy an app in the kubernetes cluster:
https://www.ibm.com/cloud/garage/tutorials/microservices-app-on-kubernetes?task=4

So I add the repository pointing to the url as indicated in the tutorial:

Its added ok:
"ibmcase" has been added to your repositories

Then when I try the following instructions to install:
helm install --name bluecompu

[2018-01-24 17:14] jkwong888 commented on #69
The path to bluecompute-ce is:

https://raw.githubusercontent.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/master/docs/charts/bluecompute-ce

(note the `bluecompute-ce` at the end of the path)

[2018-01-24 17:15] fabiogomezdiaz commented on #69
Hi @nmiah2, thanks for pointing this out. Will have someone correct that link. Let us know if @jkwong888's suggestion works out for you

[2018-01-24 20:09] nmiah2 commented on #69
thanks @jkwong888  that definitely worked ! appreciated.
Hi @fabiogomezdiaz  yes you need to correct that path in the tutorial as @jkwong888 indicated. Otherwise might get people giving up on continuing the tutorial.

Thanks guys !

[2018-03-08 18:02] matt-levan opened #75 "MySQL databases not using PVC"
Using the following values with IBM Cloud Private 2.1.0.1 and bluecompute-ce 0.5.0, the MySQL PVC are created when there is a default StorageClass but not used by the containers.

[code]
StorageClasses defined:
[code]

PVCs created:
[code]

Description of volumes for inventory-mysql:
[code]

Desciption of volumes for inventory-mysql:
[code]

Description of working CouchDB:
[code]

[2018-03-27 19:08] upenr opened #76 "What are the prerequirements to deploy the reference 'bluecompute-ce' application in a greenfield environment?"
This is not the demo environment. In my own private deployment, what are the prerequisites, related to PVs, PVCs, network, RAM, CPU etc before I deploy. Please clarify.
Also, how does the deployment pick the right backend volume during deployment?
And finally, does the bluecompute-ce edition work with ppc64le? It's not mentioned on the Readme. Thanks.

[2018-04-02 16:28] kimmytaft commented on #69
Link updated

[2018-04-02 16:28] #69 closed

[2018-04-02 16:41] RayStoner commented on #58
Hello Javier, I am closing this issue due to age. If you are still have issues with importing Dashboards please contact me directly.

[2018-04-02 16:41] #58 closed

[2018-04-04 09:43] jasonmckelvin opened #77 "Issue with getting bluecompute-ce up and running on ICP 2.1.0.2"
1 - adding the helm repository of bluecompute
2- create a release of bluecompute (use only default values!)
3 - order and customer container are crashing, restarting, crashing and so on...

used kubectl get logs of pods to create the logs output : see attachments
[orders.log](https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/files/1875135/orders.log)
[customer.log](https://g

[2018-04-05 23:55] avina-z commented on #35
I am getting this same error, was this resolved?

[2018-04-06 17:36] yeekangc opened #78 "Blue Compute on Open Liberty/MicroProfile in IBM Cloud Private with Microclimate"
- Re-base Blue Compute microservices to run on Open Liberty with MicroProfile technologies deploying to IBM Cloud Private using Microclimate
- Update and publish Architecture Center assets to show case this

[2018-04-09 14:38] fabiogomezdiaz commented on #76
Hi @upenr,

**This is not the demo environment. In my own private deployment, what are the prerequisites, related to PVs, PVCs, network, RAM, CPU etc before I deploy. Please clarify.**
- We don't have specific requirements for CPU. As far as ram, we recommend at least 8GB as we point out [here](https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#create-a-kubernetes-cluster)
-

[2018-04-09 14:41] fabiogomezdiaz commented on #55
@mikemoreira we have changed the repo URL. The updated instructions can be found here:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-to-kubernetes-cluster

Closing this issue for now. Please reopen if you are still having issues.

[2018-04-09 14:41] #55 closed

[2018-04-09 14:43] #53 closed

[2018-04-09 14:45] fabiogomezdiaz commented on #37
@vksinghibm we have since provided new installation instructions as well as new instructions for obtaining Web UI IP Address. Instructions are here:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-to-kubernetes-cluster

Closing the issue for now, please reopen if still having the same issues. Else, please open a new issue.

[2018-04-09 14:45] #37 closed

[2018-04-09 14:46] jasonmckelvin commented on #77
Hello

I have waited hours to check if there will be a change.. but it didn’t work. I think it is a problem of my ICP CD 2.1.0.2 installation but as i am new with it i cannot verify it.

Sent from my iPad

[2018-04-09 14:47] fabiogomezdiaz commented on #35
@wangzhidong and @avina-z  we have since provided new installation instructions as well as new instructions for obtaining Web UI IP Address upon installing the chart. Instructions are here:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-to-kubernetes-cluster

Closing the issue for now, please reopen if still having the same issues. Else, please open a new issue.

[2018-04-09 14:47] #35 closed

[2018-04-09 14:49] fabiogomezdiaz commented on #23
@jkwong888 closing this as this ability already exists. Leaving a link to the asset you created for others' sake.

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/master/PodSecurityPolicy/PodSecurityPolicy.md

[2018-04-09 14:49] #23 closed

[2018-04-09 14:52] fabiogomezdiaz commented on #22
@xavierloup we have since changed the installation instructions. Here is a link:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-to-kubernetes-cluster

Closing for now. If you have any other problems, please open a new issue.

[2018-04-09 14:52] #22 closed

[2018-04-09 14:53] fabiogomezdiaz commented on #21
Closing this for now as our installation instructions have changed since. Here is the link for others' sake.

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-the-application

[2018-04-09 14:53] #21 closed

[2018-04-09 14:56] fabiogomezdiaz commented on #15
@DevOps-GM our installation and validation instructions have changed dramatically since this issue was created. Here is a link to instructions:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes#deploy-the-application

Closing this issue for now. Please note that it takes all the microservices 5-10 minutes to be fully initialized and ready. If still having issues after waitin

[2018-04-09 14:56] #15 closed

[2018-04-09 15:01] fabiogomezdiaz commented on #13
@DevOps-GM for such instructions, please reference the IBM Cloud Container Service documentation below:
https://console.bluemix.net/docs/containers/cs_app.html#cli_dashboard

Closing this issue as providing such scripts is beyond the scope of this project.

[2018-04-09 15:01] #13 closed

[2018-04-09 15:03] fabiogomezdiaz commented on #11
@RobertJBarron closing this for now as our installation instructions have dramatically changed since.

If having new problems, please open a new issue.

[2018-04-09 15:03] #11 closed

[2018-04-09 15:15] fabiogomezdiaz commented on #31
@josiemessa thanks for your valuable feedback. But adding a step to change the password is beyond the scope of this project.

Closing for now.

[2018-04-09 15:15] #31 closed

[2018-04-09 15:25] jasonmckelvin commented on #77
Thank You!

I haven’t done this setup.. have to investigate.. after the correct setup i will try it again.

Cheers

Sent from my iPad

[2018-04-09 15:49] fabiogomezdiaz commented on #24
@rjminsha thanks for your valuable feedback. We have changed our instructions dramatically and deliverables dramatically since this issue was opened. Feel free to check the assets again and provide new feedback. Here is an answer to some of the comments you posted"

**- For the projects (auth etc) there is a combination of Travis and Jenkins being used.  Wonder if the .travis.yaml should/could be

[2018-04-09 15:49] #24 closed

[2018-04-09 18:49] #76 closed

[2018-04-10 11:56] pavittr commented on #31
@fabiogomezdiaz is there another repo that would have this in scope? Security advice to avoid hacks seems like a useful enough idea that we should probably include this step somewhere.

[2018-04-10 13:03] jkwong888 commented on #31
you should be able to modify the cloudant database directly, i believe the password is even stored in plaintext.  you can also add additional users if you like.

please note that our application is not meant to be a production application, just a reference application to demonstrate an example microservices implementation on kubernetes.  you're welcome to provide input on what you think is a best

[2018-04-28 00:47] vcailly opened #80 "Installation on ICP 2.0.1 from Helm release fails."

[2018-04-28 00:52] vcailly commented on #80
I have tried different versions of the helm release  with allways the same result. All deployements are starting properly except the bluecompute-ce-elasticsearch.
if i execute a  kubectl describe deploy for this deployement i get  the following information with no more details :    ReplicaFailure True  FailedCreate

[2018-04-28 19:45] jkwong888 commented on #80
if you're installing on the non-default namespace, ICP default pod security policy will prevent elasticsearch from starting.  please follow the instructions in this document:

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/master/PodSecurityPolicy/PodSecurityPolicy.md

[2018-04-29 14:34] vcailly commented on #80
Thanks - I hae applied the instructions and now it is working properly.

[2018-04-29 14:34] #80 closed

[2018-05-29 18:43] Hemankita opened #83 "Launching the helm charts from ICP dashboard"

[2018-05-31 05:50] pdfruth opened #84 "Bluecompute ce V0.0.6 does not work on ICP 2.1.0.2 or 2.1.0.3"
Upon installing the latest version of the Bluecompute CE chart (currently V0.0.6), attempting to access the application at http://ip:31337/bluecompute the front page is rendered.
Upon clicking the "Browse" catalog button, a blank page is displayed and the application is unusable.

[2018-06-05 19:49] Hemankita opened #85 "Microprofile helm charts interfere with Spring helm charts"
When Spring and Microprofile versions of bluecompute are deployed on ICP at a time, the charts are interfering though we use additional labels

[2018-06-05 19:51] fabiogomezdiaz commented on #85
@Hemankita @osowski it's just not the labels, all the resources have to be named differently. So perhaps you can use Helm's template so that it uses the name of the release to help name all the resources. That's what we do in Spring bluecompute when installing bluecompute more than once

[2018-06-06 15:20] pdfruth commented on #84
I have been doing some additional testing with the bluecompute-ce application.
The problem only appears to happen when the helm chart is installed into a namespace other than the "default" namespace.
When it's installed into a non-default namespace, I see that all the "bluecompute-catalog-elasticsearch" deployment does not become active.
Attempts to access the bluecompute catalog, at http://x.x.x.

[2018-06-06 16:33] osowski commented on #84
The issue here is related to some of the requirements needed for the container image used in the Elasticsearch chart to run in a non-default namespace.  If you run a `kubectl describe replicaset {name}-catalogdb-elasticsearch-{XYZ}`, you will see the following under **Events**: `unable to validate against any pod security policy: [capabilities.add: Invalid value: "IPC_LOCK": capability may not be

[2018-06-06 16:58] #84 closed

[2018-06-06 18:57] osowski commented on #85
Agreed.  We'll need to make sure the use of `{{ .Release.Name }}` is preprended to all of the elements being deployed, as well as the labels are specific enough to be to a given branch/project, we should be good to go.

[2018-06-06 20:52] osowski commented on #85
@Hemankita Doing some digging, it's definitely going to be a decent amount of work to get this aligned as expected. Notice in the output captured below, how the Spring-based Helm charts currently honor the `{{ .Release.Name }}` value in all the deployment & service names.  Since the Microprofile-based Helm charts are statically named, they will currently not allow for multiple releases inside the

[2018-06-06 21:28] osowski commented on #85
Also, as it stands now, changes will need to be made in both applications.  The Spring BC selectors are not specific enough to exclude the Microprofile BC targets, so the old service endpoints will pickup new deployment targets in the same namespace.  So whichever we end up choosing as the desired specificity label (`implementation`, `release`, something else) we'll want to make sure that change i

[2018-06-07 19:27] osowski commented on #85
Ideally, I think we can add `release: {{ .Release.Name }}` to the selector (in lieu of the current `implementation` label) to be specific enough to route from services to desired deployments.

[2018-06-12 22:20] mossuchida opened #87 "Catalog does not show anything"
Deployment was very smooth, but catalog does not show anything. I see order pod CrashLoopBackOff, inventory has error in the log, etc, it seems like it is not functioning:
1 - catalog not working : Caused by: feign.FeignException: status 500 reading InventoryServiceClient#getAllItems(); content:
{"timestamp":1528839482483,"status":500,"error":"Internal Server Error","exception":"org.springframewor

[2018-07-04 14:47] #87 closed

[2018-07-05 21:06] osowski opened #92 "Add "sources" field to all component charts"
Please add `sources:` lists to all the child component charts (pointing to the correlated `microprofile` branches of the individual repositories) so that they will show up in the index.yaml and we can associate tgz files with remote source code.

See https://docs.helm.sh/developing_charts/#the-chart-yaml-file for reference.

[2018-07-06 14:30] Hemankita commented on #92
Added the source and home labels to charts of all the child components.
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/pull/91

[2018-07-06 18:44] #92 closed

[2018-07-06 22:19] Hemankita commented on #85
For the microprofile version of bluecompute, the charts are modified now.

[code]

Also, modified the labels as below. Added `release` and `implementation` as additional labels.

[code]

[2018-07-09 16:15] osowski commented on #85
@Hemankita the above deployments and edits are available in the `microprofile` branch of the charts we merged last week?

[2018-07-09 16:35] Hemankita commented on #85
Yes the edits are available in the charts we merged last week

[2018-07-27 15:40] rbhuet opened #95 "Issue getting bluecompute-ce to work with ICP2.1.0.2"
I'm just getting up to speed on ICP and followed the tutorial steps for installing bluecompute-ce using helm to a local ICP installation.
https://www.ibm.com/cloud/garage/tutorials/cloudnative-microservices-cloud-private
However, none of the pods were successfully started.
![image](https://user-images.githubusercontent.com/17749422/43330588-3e1e2a4c-9189-11e8-857d-89200fd018d6.png)
How do I go abo

[2018-08-30 03:14] naoto30 opened #110 "helm repo URL of bluecompute spring needs to be updated"
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/spring/README.md

The URL of helm repository in this README is 404.
 https://raw.githubusercontent.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/master/docs/charts/bluecompute-ce

[2018-08-30 03:17] naoto30 commented on #110
correct one as helm repo URL is:
https://raw.githubusercontent.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/spring/docs/charts/bluecompute-ce

(from browser)
https://raw.githubusercontent.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/spring/docs/charts/bluecompute-ce/index.yaml

[2018-08-30 16:43] osowski commented on #110
Fixed via https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/pull/111

[2018-08-30 16:43] #110 closed

[2018-08-30 17:10] #27 closed

[2018-08-30 17:10] #56 closed

[2018-08-30 17:10] #60 closed

[2018-09-25 20:22] osowski opened #129 "Formatting issue in MicroProfile Chart documentation"
Towards the end of https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/microprofile/bluecompute-mp#zipkin, there is a misplaced backtick that breaks the formatting for the rest of the page.

This should be a simple fix, but wanted to note it for documentation review.

[2018-09-25 22:13] osowski opened #133 "Copy over PodSecurityPolicy from `spring` branch"
The Elasticsearch containers still require the elevated privileges, so we should copy over the `PodSecurityPolicy` files from the `spring` branch and include them in the documentation.

This is very relevant when deploying to a non-`default` namespace, which is often preferred and recommended.

[2018-09-28 15:30] Hemankita commented on #129
Corrected it in the below pull request. Please have a look.

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/pull/136

[2018-09-28 21:31] Hemankita commented on #133
Copied the files over to `/docs/pod-security-policy`
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/pull/136

Should I mention about this anywhere in the main README.md?

[2018-09-28 21:59] fabiogomezdiaz commented on #133
@osowski @Hemankita no need to copy this over. I actually forgot to delete it after I moved it. I made the chart automatically elevate privileges if installed in a non-default folder. I did it with these files:
- https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/spring/bluecompute-ce/templates/pod_security_policy.yaml
- https://github.com/ibm-cloud-architecture/refarch-

[2018-10-02 14:58] Hemankita commented on #129
Changes merged

[2018-10-02 14:58] #129 closed

[2018-10-02 19:10] osowski commented on #95
@fabiogomezdiaz Can you take a look at this?

[2018-10-03 17:53] Hemankita commented on #133
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/pull/137

Modified the charts to automatically elevate privileges if installed in a non-default folder just like Fabio mentioned. Also, modified the keystore secret generation to work correctly in non-default namespace.

[2018-10-03 22:54] Hemankita commented on #85
The charts does not interfere now after modifying the labels and selectors.

[2018-10-03 22:54] #85 closed

[2018-10-04 14:04] osowski commented on #133
Closing via https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/commit/43aaa2a4ca23c50c13096dde375884dbb9af75c8

[2018-10-04 14:04] #133 closed

[2018-10-04 14:05] osowski commented on #78
Completed earlier this summer.  Blog series detailing work effort can be found at https://www.ibm.com/blogs/bluemix/2018/09/migrate-java-microservices-from-spring-to-microprofile-p1/.

All BlueCompute repositories now have a `microprofile` branch to support this completed item.

[2018-10-04 14:05] #78 closed

[2018-10-09 19:51] dshimo commented on #83
Turns out this is due to a missing README and a missing values.yaml under refarch-cloudnative-kubernetes/docs/charts/bluecompute/

Will be adding it soon

[2018-10-12 16:57] MelGHub commented on #46
@fabiogomezdiaz  , I need to deploy the bleucompute-ce on IBM's POWER (ppc64le) worker node of ICP 3.1. I see that this repo contains the helm chart, however could not locate the Dockerfiles. Assuming that the images that gets pulled as part of deployment are not ppc64le enabled, do you think having the Dockefiles will allow us to build them? anything else that you can think of might be a blocker

[2018-10-17 14:33] fabiogomezdiaz commented on #46
@MelGHub the docker files are located in the root folder of all the repos listed here:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/spring#project-repositories

Please look at the first 7 repos (minus the first one), switch to the `spring` branch, and you will find that all have a Dockerfile in them.

As far as `ppc64le` I would recommend doing the following:
- Sta

[2018-11-06 16:47] JustinKuli opened #149 "Pods stuck in Init 0/1 status during deployment"
Trying to deploy in an IBM Cloud Private 3.1.0 cluster, most things go well, and the website seems to function. However, looking at the details shows that the `auth` pod is not available. Removing the deployment and all its pods and trying again resulted in the same problem.

Here are some details about the "stuck" pods we found:
[code]

As you can see, these logs are not helpful with debugging th

[2018-11-06 17:01] fabiogomezdiaz commented on #149
@JustinKuli Can you please paste the command you used to install bluecompute-ce? I am interested if you set the `createImagePolicy` flag to `true`, which is required in IBM Cloud Private 3.1.0 to allow the cluster to download images from Docker registries outside of its own.

Another thing to note is that we have recently made changes to the chart, so your chart may be outdated. You may want to co

[2018-11-06 17:54] JustinKuli commented on #149
Hi thanks for the quick response.

We are deploying it through the ICP Catalog dashboard, and I believe the `createImagePolicy` flag was set to false (by default). When I get access to the cluster again I might try with that flag set to true, and I will let you know if that changes the outcome. However, I'm surprised that there wouldn't be other problems in the deployment if it couldn't download t

[2018-11-06 20:58] JustinKuli commented on #149
Hi, we believe we had enabled the 'createImagePolicy` flag before, and I just repeated the deployment (also ensuring that the version was current). It ran into the same problem as before.

[2018-11-07 06:30] mariosomma commented on #149
Hi Justin and Fabio, the ICP Cluster is not in HA.. Thanks a log again for your support..Ciao..Mario

[2018-11-07 15:29] mariosomma commented on #149
Hi Fabio,
sorry bothering you.. I'll have to give a POC to my customer on Monday the 12th of Nov. Do you thing a fix could be available within tomorrow ..? Thanks a lot again...Ciao..Mario.

[2018-11-08 13:54] fabiogomezdiaz commented on #149
@JustinKuli @mariosomma I just made some changes. Please try it again. Just not that the chart itself no longer uses the `createImagePolicy` because there were some timing issues where the pods would error out because the policy had not been created yet.

So I made it so you have to create the policy beforehand. All that is documented here:
https://github.com/ibm-cloud-architecture/refarch-cloudna

[2018-11-08 13:55] fabiogomezdiaz commented on #149
@JustinKuli @mariosomma again, don't forget to refresh your helm repositories as I mentioned in one of the comments above.

[2018-11-08 22:55] JustinKuli commented on #149
Thanks, the deployment was better today. The "auth" pod seems to be working now, thanks to the changes. Your instructions for the policy were also very helpful.

The "catalog" pod is now stuck in "Init:0/2" status, but I suspect that is something to do with restricted internet traffic on the cluster. I believe some of the Docker images for that pod are from the Elastic registry?

I will work on it

[2018-11-09 22:07] JustinKuli commented on #149
I have a successful deployment, using this override:
[code]

You may want to change that part of the current chart, but it might not be a problem for others. Regardless, the original problem is gone (and I don't see any other problems right now), so I will close this issue.

[2018-11-09 22:07] #149 closed

[2018-11-09 22:08] fabiogomezdiaz commented on #149
@JustinKuli got it. I'm glad it worked out. Will keep an eye out. Thanks!

[2018-11-19 21:48] JustinKuli opened #156 "Customer create user job has errors"
Our deployment of the `0.0.8` version seems to have succeeded, but the `customer-create-user` job needed to be attempted twice before it was done. In the logs of both pods (the one with Error status, and the one with Completed status) we found this:
```Customer with name user already existsCustomer with name user already exists```
over and over.

I'm curious if this indicates a problem in our depl

[2018-11-29 15:15] dshimo opened #162 "Liberty Boost minimally supports Spring 1.4.x"
an issue to note
only Auth was affected and has been updated

[2018-11-29 15:18] dshimo opened #163 "Liberty Boost does not yet support application.yml"
an issue to note
a consequence for now means Open Liberty defaults ports to 8080

[2019-02-24 22:05] HansDevOps opened #185 "inventorydb en orderdb missing in chart directory"
Hi,

I am trying to understand how the helm charts are set up. I want to have the Orders microservice running separately. Of course it requires the Auth Service and Inventory Services as well, but if I install the orders microservice, there is no MariaDB or MySQL database in the chart. There seems to be someting in folders inventorydb and orderdb (according to this page), but I do not have these f

[2019-02-25 16:49] dshimo commented on #185
Hi,

Thanks for pointing this out and writing an issue for it.
We've gotten a previous notice about our documentation's consistency, so I'll take a deeper look into this and make the necessary corrections.

Thanks,
David Shi

[2019-02-25 20:47] Hemankita commented on #185
Hello @HansDevOps

Currently, we are using the official helm charts for MySQL and MariaDB. Now, the microprofile version of BlueCompute pulls them from https://github.com/helm/charts/tree/master/stable. Thanks for pointing out. Those instructions are old. I updated them now. Please go through them and let me know if you have any questions.

Thanks,
Hemankita Perabathini

[2019-02-26 21:02] HansDevOps commented on #185
Hi Hemankita and David,

I followed the updated instructions, but still have some questions.
1. Step 3. Go to Inventory repo: $ cd inventory. That is not possible, as there is no inventory directory. Should it be: $ cd chart/inventory instead ?
2. Step 4. I still do not understand how you combine the mysql within the package for the inventory service. Are you copying it in or doing something else?

[2019-02-26 23:17] Hemankita commented on #185
Hello @HansDevOps,

Step 3: You need not do `cd inventory`. The directory does not exist now and the chart resides in `chart/inventory`.
Step 4: The bluecompute is pulling the charts for MySQL and MariaDB from the community helm repos. All the dependencies will be included in the https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/microprofile/docs/charts/bluecompute/requ

[2019-02-27 07:49] HansDevOps commented on #185
Hi Hemankita,
Many thanks for your quick response!
I will have to invest

[2019-03-26 19:12] yeekangc opened #196 "Istio support for MicroProfile implementation"
- Parity with Spring implementation
- Highlight MicroProfile integration with Istio where appropriate
    - Traffic management and MP Fault Tolerance
    - Security and MP JWT
    - Telemetry and MP Metrics and Open Tracing

@osowski @dshimo @jjvilleg

[2019-06-13 11:28] gg6969 opened #200 "Data Inconsistency if InventoryDB fails or RabbitMQ fails"
These are the scenarios.
Scenario1. If I make the bluecompute-mysql fail and try to place and order with the UI, I'm able to place any order infinitly even if inventory DB is not available, and I can find such orders in the bluecompute-mariaDB order table

Scenario2: if I make the rabbitMQ fail, and I try to place an order, the UI tells "your order was not processed, please try again", but then in

[2019-06-24 07:11] gg6969 opened #202 "Data Inconsistency if RabbitMQ fails"
If I make the rabbitMQ fail, and I try to place an order, the UI tells "your order was not processed, please try again", but then in the profile of the user I find that order accounted, and so it is in the OrderDB(bluecompute-mariadB order table)

[2019-06-25 19:47] dshimo commented on #196
Implementing Istio Stage 1 onto Inventory Service:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-inventory/pull/113

[2019-06-26 19:12] fabiogomezdiaz opened #203 "Use Official Elasticsearch Chart instead of Helm Community"
The official char has smaller memory footprint.

The goal is that the we can deploy bluecompute in the free IKS cluster.

[2019-07-04 12:08] patrocinio opened #205 "Failure to create ImagePolicy in an ICP 3.2.0 cluster"
I have an ICP 3.2.0 CE version and I am following the instructions at

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/microprofile/docs/icp.md

When I run the command
``
kubectl apply -f https://raw.githubusercontent.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/microprofile/static/image_policy.yaml
``

I get the following error:

``
Eduardos-MacBook-Air:

[2019-07-04 12:16] patrocinio commented on #205
It seems the Image Security Enforcement is not enabled in my cluster, so the CR creation failed.

See documentation at

https://www.ibm.com/support/knowledgecenter/SSBS6K_3.2.0/manage_images/image_security.html

It will be good to document that this step is necessary only when Image Security is enforced.

[2019-07-04 12:25] patrocinio opened #206 "Create instructions on how to deploy this application using Helm 3"
Although the syntax is similar, using Helm 3 requires some changes to the CLI.

I would be nice if there are instructions on how to deploy BC using Helm 3

[2019-07-04 12:52] yeekangc commented on #205
@dshimo @jjvilleg, can one of you take a look at this?  Thank you.

[2019-09-25 18:21] kevinwlau opened #210 "Upgrade apiVersion in YAMLs"
Kubernetes 1.16.0 removes support for some deprecated APIs: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

Will need to update many of our YAML files to use the new APIs to replace the deprecated ones.

Edit: Additionally, it seems that Deployments now need a `spec.selector.matchLabel` field.

[2019-09-30 19:10] evie-lau commented on #210
- [x] web - https://github.com/ibm-cloud-architecture/refarch-cloudnative-bluecompute-web/pull/89 passed
- [x] orders - https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-orders/pull/92 passed
- [x] inventory - https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-inventory/pull/118
- [x] catalog - https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-c

[2019-10-12 07:25] aarenw opened #212 "Wrong MYSQL_HOST env in order deployment"
The host in deployment is orders-mariadb-orders-mariadb, but he mariadb service name is bluecompute-orders-mariadb.
There are two workaround :
1, change orders-mariadb-orders-mariadb to bluecompute-orders-mariadb the deployment yaml file;
2, another way is create new service orders-mariadb-orders-mariadb, the content same as bluecompute-orders-mariadb.

[2019-11-20 14:21] doormat18 opened #213 "helm install link dead"
In the spring boot implementation readme, the link to helm install is dead.

https://github.com/kubernetes/helm/blob/master/docs/install.md

[2020-01-24 19:19] evie-lau commented on #210
#216 released bluecompute 0.1.2, which finalized the changes to work with kube 1.16, along with all the proper project dependencies.

[2020-01-24 19:19] #210 closed

[2020-02-12 17:22] evie-lau opened #217 "Update istio installation instructions"
The Istio site mentions that [helm installation](
https://istio.io/docs/setup/install/helm/) is being deprecated.

Also the ibm charts for Istio are a little outdated.

Instructions page to update: https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/blob/microprofile/docs/istio.md
Recommended way to install Istio: https://istio.io/docs/setup/getting-started/

[2020-02-28 18:20] doormat18 commented on #212
For number 2 suggested workaround by @aarenw define another mariadb instance using the following command (helm v2):

$ helm upgrade --install orders-mariadb \
   --version 5.2.2 \
   --set nameOverride=orders-mariadb \
   --set service.port=3307 \
   --set rootUser.password=admin123 \
   --set db.user=dbuser \
   --set db.password=password \
   --set db.name=ordersdb \
   --set replication.enabled

[2020-03-04 19:04] doormat18 commented on #212
This issue is now fixed in chart v0.0.10 of the bluecompute-ce app spring deployment

[2020-03-11 21:21] gangchen03 opened #220 "Update the BlueCompute Web UI framework"
Potentially refactor:

- Replace AngularJS to React
- Replace bootstrap framework

[2020-03-11 21:23] gangchen03 opened #221 "Support BlueCompute deployment to OpenShift 4.x"
Sunset the support for IBM Cloud Private (ICP).

We need to validate and test the deployment on:

- IBM Cloud ROKS (Managed OpenShift)
- Generic OpenShift cluster

Update the instruction/guide on:
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/spring#deploy-the-application

[2020-03-11 21:25] gangchen03 opened #222 "Update the BlueCompute DevOps pipeline with latest OpenShift or Tekton"
The BlueCompute existing DevOps pipeline is built on community Jenkins, we need to consider:

- Using OpenShift Jenkins
- Using Tekton.

Need to work with Hollis.

[2020-03-11 21:28] gangchen03 opened #223 "Leverage Project Catalyst Cloud Native Tool to operate BlueCompute"
Areas we can look into:
- Use BlueCompute as code patterns
- Leverage Catalyst CI/CD for BlueCompute
- Security scanning for BlueCompute
- Leverage ArgoCD etc. to implement GitOps for BlueCompute

Working @csantanapr

[2020-03-11 21:29] gangchen03 opened #224 "Deploy and Manage BlueCompute in a multi-cluster environment with CP4MCM"
See how we can demonstrate CP4MCM features with BlueCompute.
For example:
- Deployment promotion from Dev to Test
- Backup/HA cluster
- Green/Blue deployment

[2020-03-12 11:23] yeekangc commented on #222
+1 for Tekton/OpenShift Pipelines.

FYI, @dewan-ahmed.

[2020-03-12 17:58] dewan-ahmed commented on #222
+1 for Tekton/OpenShift Pipelines as well.

@gangchen03 where can we get more context on this i.e. what is the original issue and where the effort sits currently?

[2020-03-12 18:44] yeekangc commented on #222
Dewan, FYI that refarch-cloudnative-kubernetes is our reference architecture/implementation for microservices on Kubernetes.  You can find out more at the top-level repo or from https://www.ibm.com/cloud/architecture/architectures/microservices.

I will defer to Gang to chime in and sounds like Gang and team are looking at potential updates to cover the latest technologies.

[2020-03-20 19:45] gangchen03 commented on #222
yeah, we want to refresh the reference implementation given we have new team members join the team.

[2020-03-20 19:48] gangchen03 commented on #222
so, the goal is the update the BlueCompute DevOps CI/CD reference implementation (in https://github.com/ibm-cloud-architecture/refarch-cloudnative-devops-kubernetes) to Tektons

[2020-03-25 13:13] gangchen03 commented on #5
no longer valid. closing the issue.

[2020-03-25 13:13] #5 closed

[2020-03-25 13:17] gangchen03 commented on #221
Specifically the section https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/spring#deploy-bluecompute-to-ibm-cloud-private
ICP is no longer valid option.
Deploy to OpenShift 4.3

[2020-03-25 13:18] gangchen03 opened #225 "Clean the existing issues"
Some issues being out there for a while, need to review and take action, either close them or update the issue if action required

[2020-03-25 13:20] gangchen03 commented on #223
Link for Cloud Native Toolkit
https://github.com/ibm-garage-cloud/ibm-garage-iteration-zero

[2020-03-25 13:22] gangchen03 commented on #224
Work with @jdiggity22

[2020-03-25 16:50] csantanapr commented on #223
New domain name for the toolkit

https://cloudnativetoolkit.dev

[2020-03-26 06:08] phemankita commented on #83
Not supporting ICP any more

[2020-03-26 06:08] #83 closed

[2020-03-26 06:09] phemankita commented on #95
Not supporting ICP any more

[2020-03-26 06:09] #95 closed

[2020-03-26 06:10] phemankita commented on #156
No longer valid

[2020-03-26 06:10] #156 closed

[2020-03-26 06:10] phemankita commented on #16
Added the source in the main page.

[2020-03-26 06:10] #16 closed

[2020-03-26 06:11] phemankita commented on #28
Old issue ... no longer valid

[2020-03-26 06:11] #28 closed

[2020-03-26 06:12] phemankita commented on #162
Updated the app to match the spring version that liberty boost supports

[2020-03-26 06:12] #162 closed

[2020-03-26 06:14] #185 closed

[2020-03-26 06:15] phemankita commented on #163
@dshimo is this issue still valid ?

[2020-03-26 06:17] phemankita commented on #202
Same as #200

[2020-03-26 06:17] #202 closed

[2020-03-26 06:24] phemankita commented on #203
We are currently using a version of bluecompute to deploy it on free IKS cluster.

https://github.com/ibm-cloud-architecture/light-bluecompute

This is currently being used in the tutorial as well

[2020-03-26 06:24] #203 closed

[2020-03-26 06:25] phemankita commented on #205
Not supporting ICP any more

[2020-03-26 06:25] #205 closed

[2020-03-26 06:26] #212 closed, assigned to nobody

[2020-03-26 06:27] phemankita commented on #217
@kevinwlau @dshimo Are you working on updating the Istio instructions ?

[2020-03-30 14:14] phemankita commented on #213
Fixed

[2020-03-30 14:14] #213 closed, assigned to nobody

[2020-04-01 18:54] evie-lau commented on #217
neither of us are working on this right now, as we've been pulled into other projects.

[2020-04-03 10:11] #75 closed

[2020-04-06 04:59] phemankita commented on #221
Updated the instructions

https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/spring#create-a-openshift-cluster
https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes/tree/spring#deploy-to-openshift-cluster

[2020-04-06 04:59] #221 closed, assigned to Hemankita, hkang92

[2020-04-14 15:01] JensMikael opened #228 "Error YAML parse"
Trying to install on Minikube on MacOS and get the error
Error: YAML parse error on bluecompute/charts/ibmcase-elasticsearch/templates/a_secret.yaml: error converting YAML to JSON: yaml: line 7: mapping values are not allowed in this context

Looking into the file it seems there is a LF between line 6  and line 7 as

6: labels:
7: {{ toYaml .Values.labels | indent 4 -}}
  8:  release: {{.Release.N

[2020-05-04 15:15] acmthinks opened #229 "Update helm charts to support iks 1.17"
I am unable to get bluecompute running on an iks 1.17 cluster

k8s APIs referenced in helm charts are deprecated

[https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/)

When installing bluecompute:
 `helm upgrade --install bluecompute ibmcase/bluecompute-ce`
yields the following:
`Error: unable to build kubernetes objects

[2022-03-14 12:29] #228 closed, assigned to nobody

[2022-03-14 12:30] JensMikael commented on #228
Moving to Openshift